@charset "EUC-KR";

.block { display:block;}
.both:after { content:""; display:block; clear:both;}
.left { float:left;}
.right { float:right;}
.ab { position:absolute;}
.rel { position:relative;}
.btn { display:inline-block; text-align:center;}
.p10 { padding:10px;}
.m_t10 { margin-top:10px;}
.ptb10 { padding:10px 0;}

/*-------------------------------------    */


.wrap { background: #efefef;}
.wrap .header { position:relative; width:100%; height: 250px; background: url("../img/top_bg.jpg");}
.wrap .header > .bx_tp { background: #e60000; height:70px; line-height: 70px;}
.wrap .header > .bx_tp > .con { position:relative; margin:0 auto;  width: 1000px; }
.wrap .header > .bx_tp h1 { position: absolute; top:10px; left:20px; width:130px; height: 50px;}
.wrap .header > .bx_tp h1 a img {display: block; width:121px; }
.wrap .header > .bx_tp .bx_login { position: absolute; top:12px; right:20px; height: 60px; line-height: 50px;text-align: right;}
.wrap .header .gnb { position:absolute; bottom:0; left:0; width:100%; height:70px; background:#fff; box-shadow:0px 2px 5px #888888;  line-height: 70px; text-align: center;}
.wrap .header .gnb > ul { display: inline-block; width:1000px; height:70px; line-height: 70px;  text-align:center;}
.wrap .header .gnb > ul li { display: inline-block; width:9%; height:70px; line-height: 70px; }
.wrap .header .gnb > ul li a { display: block; width:100%; height: 70px; color:#333; font-size: 15px; font-weight: blod;}
.wrap .header .gnb > ul li a:hover { background: #333; color:#fff;}
.wrap .contents > .con, .footer > .con { margin:0 auto; width: 1000px;}


.wrap .header .bx_serch { position: relative; width:100%; height: 110px; }
.wrap .header .bx_serch .bx_con { position: absolute; top:50%; left:50%; margin-top: -25px; margin-left: -196px; width:392px; height: 50px; }
.wrap .header .bx_serch .bx_con form:after { content: ""; display: block; clear:both;}
.wrap .header .bx_serch .bx_con form > * { float:left;}
.wrap .header .bx_serch .bx_con form > p { float:right;}
.wrap .header .bx_serch .bx_con form .serch_input { margin-top:-5px; width:260px; height: 28px; padding:5px; line-height: 40px; border-radius: 5px; }
.wrap .header .bx_serch .bx_con form .btn_serch { display: inline-block; margin-left:5px; width:70px; height:40px; line-height:40px; font-size:20px; text-align: center; border-radius: 4px; color:#fff; background:#fac800;  }
.wrap .header > .bx_tp .bx_login .bx_mymenu { 
	position: absolute;
	padding:10px;
	width:100px;
	right:0;
	top:58px;
	background: #333;
	color:#fff;
	border-radius: 4px;
	z-index: 10;
}
.wrap .header > .bx_tp .bx_login .bx_mymenu a { color:#fff;}
#btn_gnb { display: block; position: relative; padding:10px 20px; width: 60px; height: 60px; cursor: pointer; }
#btn_gnb span { display: block; width: 60px; height: 40px; }
#btn_gnb .bx span { position: absolute; width: 60px; height: 5px; background: #fff; transition: all 1s;  }
#btn_gnb .bx span:first-child { top:5px; }
#btn_gnb .bx span:first-child + span { top:20px; }
#btn_gnb .bx span:first-child + span + span { top:35px; }

#btn_gnb.open .bx span {  }
#btn_gnb.open .bx span:first-child { top:20px; transform: rotate(45deg); }
#btn_gnb.open .bx span:first-child + span {  display: none; transition: all 0s; }
#btn_gnb.open .bx span:first-child + span + span {top:20px; transform: rotate(135deg);  }

#Gnb { overflow: hidden; padding:0 10px; height: 0;  transition: all 1s; box-sizing: border-box;}
#Gnb ul li { overflow: hidden;  height: 0; transition: all 1s;  color: #fff;  }
#Gnb ul li a {  display: block;padding:0 20px;height: 51px; line-height: 50px; color: #333; box-sizing: border-box; transition: all 0.5s;  }
#Gnb.open { height: 150px;  }
#Gnb.open ul li { height: 50px; }


/*footer*/
.footer_address { padding:30px 0; letter-spacing:-0.5px; line-height:18px;}
.footer_address img { float:left; padding:0 20px 0 0;}
.footer_address span { padding:0 7px; }
.footer_address p { padding:30px 0 0 0;}
/*------------로그인---------*/
.wrap .contents > .con { position:relative; padding:20px 0;}
.wrap .contents .bx_login {
	position:relative;
	margin: 0 auto;
	padding:69px 50px 0 50px;
	width:300px;
	height:250px;
	background-color:#fff;
	background-image:url(../img/logo.png);
	background-position: center 20px;
	background-repeat: no-repeat;
	background-size: 100px; 

}

.wrap .contents .bx_login div { padding:10px 0;}
.wrap .contents .bx_login div span { display: inline-block; width:60px; text-align: center; font-size: 18px;}
.wrap .contents .bx_login .input { padding:0 10px; width:230px; height:50px; line-height: 50px;font-size: 18px; box-sizing: border-box;}
.wrap .contents .bx_login .bx_mymenu { position: absolute; top:20px; right:0; width:100px; background: #333;}

/*---------회원가입------------*/
.wrap .joinlist {margin: 0 auto; width:500px; }
.wrap .joinlist a { display: inline-block; margin:0 7px; padding:65px 0 0 0; width:230px; height:165px; background:#fff; text-align: center; border-radius: 8px;  }
.wrap .joinlist a span { display: block; padding-top:20px; width:100%; text-align: center; font-size: 18px;}


.member_box1 { padding:20px 0 0 0; margin:0 auto; width:720px;}
.member_box1 h3:first-child { font-size:28px; color:#555; text-align:center; font-weight:normal; line-height:normal;}
.member_box1 h3:first-child strong { font-size:30px; color:#000; font-weight:normal;}
.member_box1 h3:first-child img { position:relative; top:-5px;}
.member_box1 > ul.sel { padding:60px 0 30px; text-align:center;}
.member_box1 > ul.sel li { float:right; width:348px; border:1px solid #ddd;}
.member_box1 > ul.sel li img { display:block; margin:0 auto; padding:38px 0 25px;}
.member_box1 > ul.sel li strong { font-size:26px; color:#333;}
.member_box1 > ul.sel li p { padding:15px 0 30px; font-size:20px; color:#e60000;}
.member_box1 > ul.sel li div { padding:0 0 40px 0; font-size:16px;}
.member_box1 > ul.sel li a { display:block; height:60px; line-height:60px; background:#e60000; font-size:20px; color:#fff; text-align:center;}
.member_box1 > ul.sel li a:after { content:url(../img/ico/bu_arrow_r2.gif); margin-left:15px;}
.member_box1 > ul.sel li:first-child { float:left;}
.member_box1 .txt { padding:15px 0 0 0; text-align:center;}



.privacy_con2 .h2 { padding:0 0 20px 0 ; font-size: 25px; text-align: center; }
.privacy_con2 { margin:0 auto; padding-top:7px; width:40%; min-width:284px; max-width:960px; box-sizing:border-box;}
.privacy_form1 {position:relative;}
.privacy_form1 .input_100_43 {border-radius:4px 4px 0 0; }
.privacy_con2 .input_100_43 { margin-top:-1px; padding-left:15px; width:100%; height:43px; border:1px solid #a7a7a7; line-height:43px; color:#ababab; font-size:11px; text-align:left; letter-spacing:-1.5px; box-sizing:border-box;}
.privacy_form2 { position:relative;}
.btn_id_check { position:absolute; top:5px; right:11px; width:63px; height:30px; line-height:30px; background:#494949; color:#fff; font-size:11px; border-radius:3px; box-sizing:border-box;}
.privacy_form5 .input_100_43  { border-radius:0 0 4px 4px;}
.privacy_form5 .input_100_43.ff { padding:10px 15px; background: #fff;} 
.privacy_form3,.privacy_form4 { position:relative;}
.pri_pw_img1,.pri_pw_img2 { position:absolute; top:13px;; right:11px; width:14px; height:16px;}
.pri_pw_img1 { background:url(../images/img_password_01.gif) no-repeat; background-size:14px 16px;}
.pri_pw_img2 { background:url(../images/img_passwordcheck_01.gif) no-repeat; background-size:13px 16px;}

.check_box { padding:10px 0 25px 0;}
.check_box input[type="checkbox"] { display:none;}
.check_box label { display:block; padding-left:24px; width:100%; height:18px; background:url(../images/img_login_checkbox_02_off.gif) no-repeat left 1px; background-size:16px; line-height:18px; font-size:11px; text-align:left; box-sizing:border-box;}
.check_box input[type="checkbox"]:checked + label { background:url(../images/img_login_checkbox_02.gif) no-repeat left 1px; background-size:16px;}
.check_box > p { padding-bottom:25px;}



/*------공지사항-------*/
.myh_5 { padding:57px 0 15px 0; height:99px; font-size:25px; color:#000; box-sizing:border-box;}
.my5_con { padding:0 0 100px 0; height:457px; box-sizing:border-box;}
.navi3:after { content:""; display:block; clear:both;}
.navi3 { width:1000px; border-bottom:2px solid #e60000; box-sizing:border-box;}
.navi3 li { float:left; }
.navi3 li:first-child a { border-left:1px solid #c3c7ca;}
.navi3 li a { display:block;padding:1px 29px 0 28px; height:36px; border:1px solid #c3c7ca; border-left:none; border-bottom:none; border-radius:5px 5px 0 0; background:#f9f9f9; font-family:dotum; font-weight:bold; line-height:35px; text-align:center; color:#9d9d9d; letter-spacing:-0.5px; box-sizing:border-box;}
.navi3 li a:hover,.navi3 li.m5_on a { border-color:#e60000 !important;background:#e60000; color:#fff;}

.join_t1 { border-top:2px solid #e60000;}
.join_t2 { border-top:2px solid #000;}
.e_table2 {margin-top:15px;border-bottom:2px solid #000;}
.my5_con > div { padding-top:15px;}
.my5_con > div table th { padding-top:1px; height:41px; border-top:2px solid #333; border-bottom:1px solid #c6c6c6; background:#f9f9f9; color:#333; font-family:dotum; box-sizing:border-box;}
.my5_con > div table td { padding-top:1px; height:41px; border-bottom:1px solid #dfdfdf; font-family:dotum; text-align:center; box-sizing:border-box;}
.my5_con > div table td.tx_left { text-align: left;}

.my5_con > div p { padding:20px 0 0 0; text-align:center;}


.evn_con { padding-bottom:100px;}
	.evn_con caption { padding-top:37px; height:72px; text-align:left; font-size:18px; color:#000; box-sizing:border-box;}
	.e_table1,.e_table2 { width:1000px; box-sizing:border-box; background: #fff;}
	.e_table1 th,.e_table2 th { padding-left:21px; width:139px; height:43px; border:1px solid #e7e7e7; border-top:none; background:#fafafa; font-family:dotum; text-align:left; color:#454545; letter-spacing:-1px; box-sizing:border-box;}
	.e_table1 th p.th_rel { position:relative; font-family:dotum; text-align:left; color:#454545; letter-spacing:-1px; box-sizing:border-box;}
	.wid333 + th { padding:0; width:136px;}
	.wid333 + th p.th_rel { position:relative; padding-left:20px; font-family:dotum; text-align:left; color:#454545; letter-spacing:-1px; box-sizing:border-box;}
	.e_table1 td,.e_table2 td { padding-left:20px; border-bottom:1px solid #e7e7e7; font-family:dotum; box-sizing:border-box;}
	.e_table1 td.wid802,.e_table2 td { height:43px; border-right:1px solid #e7e7e7;}
	.wid333 + th p.th_rel .red_s { left:12px;background:url(../images/bu_redst.gif) no-repeat 0 2px;}
	.e_table1 th .red_s { left:-9px; background:url(../images/bu_redst.gif) no-repeat 0 2px;}
	.wid333 { width:334px;}
	.wid332 { padding-left:19px; width:332px; border-right:1px solid #e7e7e7;}
	.evn_latd { border-left:1px solid #e7e7e7;}
	.wid333 p { padding-right:5px;}
	.e_table1 .join_t1,.e_table2 .join_t1 { height:45px; border-top:2px solid #4bbdd8;}


.e_table2 .join_t1 { height:45px; border-top:2px solid #e60000;}
.e_table2 th { padding-left:19px; width:137px;	}
.e_table2 th .th_rel { position:relative; font-family:dotum; text-align:left; color:#454545; letter-spacing:-1px;}
.e_table2 th p .red_s { left:-8px; background:url(../images/bu_redst.gif) no-repeat 0 2px;}
.evn_textbox td { height:139px; padding-top:7px; padding-bottom:7px; box-sizing:border-box;}
.e_table2 .e_text {overflow:auto; width:762px; height:122px; border:1px solid #dbdadb; box-sizing:border-box;resize: none;}

.evn_latd > p { position:relative; padding-left:7px; padding-top:3px; height:42px; font-family:dotum; font-size:11px; color:#a1a1a1; line-height:39px; letter-spacing:-0.5px;box-sizing:border-box;}
.evn_latd .gr_s { display:inline-block; position:absolute; left:-2px; width:6px; height:42px; background:url(../images/bu_grst.gif) no-repeat 0 17px; box-sizing:border-box;}

.evn_con > p { padding-top:20px; text-align:center;}

.e_table2 .textarea { height:200px;}


/*-------가게-----------*/


.carlist:after { content:""; display:block; clear:both;}
.wrap .carlist + .bx_btn.notice {padding:10px 17px 0 0;}
.carlist .li { float:left; overflow:hidden;  padding:18px; width:25%; height:345px; box-sizing:border-box;  transition:all 1s; }

.carlist .li * { transition:all 1s;}
.carlist .li a { display:block; position:relative; overflow:hidden; width:100%; border:1px solid #cdcdcd; background-color:#fff; }
.carlist .li a .img img { width:100%; height:auto;}

.carlist .li a > span { display:block;}
.carlist .li a .eff { display:block; width:100%; height:100%;}

.carlist .li a .eff span { display:block; position:absolute; transition:all 0.3s; }

.carlist .li a .eff span:nth-child(1) { top:0; left:0; width:0; height:8px; background-color:#e60000;}
.carlist .li a .eff span:nth-child(2) { top:0; right:0; width:8px; height:0; background-color:#e60000; }
.carlist .li a .eff span:nth-child(3) { bottom:0; right:0; width:0; height:8px; background-color:#e60000; }
.carlist .li a .eff span:nth-child(4) { bottom:0; left:0; width:8px; height:0; background-color:#e60000;  }

.carlist .li a .img { display:block; overflow:hidden; }


.carlist .li a .con { display:block; overflow:hidden; height:100px;}
.carlist .li a .con > span { display:block; padding-top:14px; padding-left:13px; padding-right:13px; line-height:12px;}
.carlist .li a .con .h3 { font-size:16px; line-height:16px; color:#000;}
.carlist .li a .con .p1 { line-height:12px; color:#000;}
.carlist .li a .con .p2 { color:#656565;
display: -webkit-box; 
display: -ms-flexbox; 
 max-height:14px; line-height:14px; overflow:hidden; text-overflow: ellipsis; -webkit-box-orient:vertical; -webkit-line-clamp:3;
}
.carlist .li a .con .cost { padding-top:21px; padding-bottom:17px; font-size:16px; line-height:16px; color:#000;}
.carlist .li a .con .cost .month_cost { display:inline-block; padding-left:19px; line-height:16px; font-size:12px; color:#656565;}

.carlist .li.lion .img img {
    width: 100%;
    height: 212px;
	min-height:212px;
}

.carlist .li a:hover,.carlist .li a:focus,.carlist .plus:hover,.carlist .plus:focus { box-shadow:0 0 36px #ccc;}
.carlist .li a:hover .img img,.carlist .li a:focus .img img { transform:scale(1.1); -ms-transform:scale(1.1); -webkit-transform:scale(1.1); -o-transform:scale(1.1); }


.carlist .pl { float:left; overflow:hidden; padding:18px; width:20%;  box-sizing:border-box; transition:all 1s; }
.carlist .pl .plus { display:block; position:relative; padding-bottom:137px; width:100%; height:100%; background:#fff; box-sizing:border-box;}
.carlist .pl .plus .bg_pl,.carlist .pl .plus .bg_pl { width:100%; min-height:212px;}
.carlist .pl .plus > span,.carlist .pl .plus3 > span { display:block; position:absolute; top:50%; margin-top:-36px; width:100%; height:56px; text-align:center; font-size:16px; font-weight:bold; color:#e60000; }
.carlist .pl .plus > span.eff,.carlist .pl .plus3 > span.eff { position:absolute; top:0; left:0; margin:0; height:100%;}
.carlist .pl .plus > span.eff span,.carlist .pl .plus3 > span.eff span { display:block;}
.carlist .pl .plus > span.eff > span,.carlist .pl .plus3 > span.eff > span { padding:0; display:block; position:absolute; transition:all 0.3s; }
.carlist .pl .plus > span > span,.carlist .pl .plus3 > span > span { display:block; padding-top:18px;}
.carlist .pl a .eff span:nth-child(1) { top:0; left:0; width:100%; height:8px; background-color:#e60000;}
.carlist .pl a .eff span:nth-child(2) { top:0; right:0; width:8px; height:100%; background-color:#e60000; }
.carlist .pl a .eff span:nth-child(3) { bottom:0; right:0; width:100%; height:8px; background-color:#e60000; }
.carlist .pl a .eff span:nth-child(4) { bottom:0; left:0; width:8px; height:100%; background-color:#e60000;  }


.carlist .li a.on .eff span:nth-child(1),
.minibanner a.on > .eff .eff_con span:nth-child(1),
.carlist02 .li a.on .eff span:nth-child(1) { width:100%; animation-name:sp01; animation-duration:1s; animation-iteration-count:1; animation-timing-function:linear;}

.carlist .li a.on .eff span:nth-child(2),
.minibanner a.on > .eff .eff_con span:nth-child(2),
.carlist02 .li a.on .eff span:nth-child(2) { height:100%; animation-name:sp02; animation-duration:1s; animation-iteration-count:1; animation-timing-function:linear;}

.carlist .li a.on .eff span:nth-child(3),
.minibanner a.on > .eff .eff_con span:nth-child(3),
.carlist02 .li a.on .eff span:nth-child(3) { width:100%; animation-name:sp03; animation-duration:1s; animation-iteration-count:1; animation-timing-function:linear;}

.carlist .li a.on .eff span:nth-child(4),
.minibanner a.on > .eff .eff_con span:nth-child(4),
.carlist02 .li a.on .eff span:nth-child(4) { height:100%; animation-name:sp04; animation-duration:1s; animation-iteration-count:1; animation-timing-function:linear; }


.carlist .li a.out .eff span:nth-child(1),
.minibanner a.out > .eff .eff_con span:nth-child(1),
.carlist02 .li a.out .eff span:nth-child(1) {  animation-name:sp05; animation-duration:1s; animation-iteration-count:1; animation-timing-function:linear; }

.carlist .li a.out .eff span:nth-child(2),
.minibanner a.out > .eff .eff_con span:nth-child(2),
.carlist02 .li a.out .eff span:nth-child(2) { animation-name:sp06; animation-duration:1s; animation-iteration-count:1; animation-timing-function:linear; }

.carlist .li a.out .eff span:nth-child(3),
.minibanner a.out > .eff .eff_con span:nth-child(3),
.carlist02 .li a.out .eff span:nth-child(3) { animation-name:sp07;  animation-duration:1s; animation-iteration-count:1; animation-timing-function:linear;}

.carlist .li a.out .eff span:nth-child(4),
.minibanner a.out > .eff .eff_con span:nth-child(4),
.carlist02 .li a.out .eff span:nth-child(4) {animation-name:sp08; animation-duration:1s; animation-iteration-count:1; animation-timing-function:linear;}


.shop.view {}
.shop.view > .left > .bx_top,.shop.view > .left > .bx_cen,
.shop.view > .right { 
	background: #fff; 
	
	border:1px solid #cbcbcb;
	}
	
	
.shop.view > .left { width:640px;}

.shop.view > .left > .bx_top {
	margin-bottom:20px;
	padding:10px;
	
}
.shop.view > .left > .bx_top .bx_btn.txt_right {     float: left; width:100%;}
.shop.view > .left .left p { padding:5px 0;}
.shop.view > .left .left p:first-child { padding:10px 0 5px; font-size: 18px; color:#333; font-weight: bold;}
.shop.view > .left > .bx_top .bx_img { overflow:hidden; width:214px; height: 212px;}
.shop.view > .left > .bx_top .ft_yel { font-size: 24px;} 
.wrap .ft_yel {color:#fac800;}
.shop.view > .left > .bx_cen { background: #e60000; padding-top:4px;}
.shop.view > .left > .bx_cen .menu:first-child { border-top:none;}
.shop.view > .left > .bx_cen .menu { margin-top:-1px; height:70px; border-top:1px solid #cbcbcb; border-bottom:1px solid #cbcbcb; background: #fff; }
.shop.view > .left > .bx_cen .menu a { display: block; padding:10px; width:620px; height:50px;}
.shop.view > .left > .bx_cen .menu a > * { float: left; display: block;}
.shop.view > .left > .bx_cen .menu a .img { padding-right:10px;}
.shop.view > .left > .bx_cen .menu a .img img { height:50px;}
.shop.view > .left > .bx_cen .menu a .txt * { display: block;}
.shop.view > .left > .bx_cen .menu a .txt .bx { padding-bottom:5px;font-size: 18px; }
.shop.view > .left > .bx_cen .menu a .txt .bx.txt_right { padding:0; text-align: right; font-weight: bold;}
.shop.view > .left > .menu_h {padding:5px; color:#333; font-size: 20px; font-weight: bold;}
.shop.view > .right { width:300px;}

.shop.view > .right .h {
	width: 100%; 
	height: 50px; 
	background:#333;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	color:#fff;
}

.shop.view > .right .bx_con {
	min-height:200px;
	
}
.shop.view > .right .bx_con { position: relative; padding-bottom:60px;} 
.shop.view > .right .bx_con > p {
	text-align:center;
	
	padding-top:97px;
	 color:#999;
	 font-weight: bold;
	 font-size: 18px;
	
}
.shop.view > .right .bx_con .bx_btn {padding:10px;}
.shop.view > .right .bx_con .btn.type6 { position: absolute; left:0; bottom:0;}
.shop.view .cart { padding:5px 10px; width:280px; height:20px;}
.shop.view .cart:after,.shop.view > .left > .bx_cen .menu a:after { contents:""; display: block; clear: both;}

.shop.view .cart > .txt {float:left;}
.shop.view .cart > p { float:right;}


.shop.view .cart > p a {padding:0 5px;}
.shop.view .cart .txt { float:left; }
.bx_review { padding:20px 0; }
.bx_review textarea { height:100px;}
.bx_review .h { padding-bottom:10px; font-size: 18px; font-weight: bold; color:#333;}
.bx_review .bx_btn.txt_right {padding:10px 0;}
.bx_review .review_form p { padding:5px 0; }
.bx_review .review_form .select {width:200px;color:#e60000;}
.bx_review .review_form .select option { color:#e60000;}
.bx_review .review_form .title { width:793px;}

.bx_review .review {  margin:0 0 10px 0; padding: 10px; border:1px solid #cbcbcb; background: #fff;}
.bx_review .review p:first-child { font-size: 14px; color:#333; font-weight: bold;}
.bx_review .review p:first-child .right { font-weight:normal;}
.bx_review .review p:first-child + p { padding:5px 0; color:#e60000;}
.bx_review .review p img { max-width: 100%;}
.bx_review .review .txt_con {padding:5px 0;}




/*결재창*/

.wrap.paycon { padding:60px 10px 10px 10px; background: #fff;}
.payh { position:absolute; top:0; left:0; width:100%; height: 50px; line-height: 50px; background:#e60000; color:#fff; font-size: 18px; font-weight: bold; text-align: center; box-sizing: border-box; }


.paytable {}

.paytable { width:100%; box-sizing:border-box; background: #fff;}
.paytable th { padding-left:10px; height:43px; border:1px solid #e7e7e7; border-top:none; background:#fafafa; font-family:dotum; text-align:left; color:#454545; letter-spacing:-1px; box-sizing:border-box;}
.paytable th.th1 { background: #ddd;}
.paytable td { padding-left:10px; height:43px; border:1px solid #e7e7e7; border-top:none;	}
.paytable td.p0 {padding:0; box-sizing: border-box;}

.paytable input[type="text"] { width:98%;}
.paytable .card input[type="text"] { width:22%;}
.paytable .card2 input[type="text"] { width:47%;}
.paytable textarea { padding:10px; width:423px; height:100px;}

.payclear .bx_btn { padding-bottom: 30px;}
.payclear > * { padding:10px 0; font-size: 24px; color: #333; text-align: center;}



/*---------CF-----------*/

.bx_cf { position:absolute; top:39px; right:-10px;}
.bx_cfcon { position: fixed; width:180px; height: 240px;}
.bx_cfcon .h { height: 30px; line-height: 30px; background:#e60000; color:#fff; text-align: center;}





/*----------페이징-------------*/
.bx_pagebtn {padding:10px 0; text-align: center;}
.bx_pagebtn a { margin:2px; height: 20px; line-height: 20px;}
.bx_pagebtn .btn { display: inline-block; margin:2px; width:20px; height: 20px; text-align:center; line-height: 20px; border-radius: 2px; background: #fff; border:1px solid #cbcbcb;}
.bx_pagebtn .btn.on { background: #e60000; color:#fff;}

.wrap .bx_btn.notice { padding:10px 0 0 0;  text-align: right;}
.wrap .bx_btn.center { padding:10px 0 0 0;  text-align: center;}
.wrap .bx_btn.center .btn { margin: 0 5px;}
.wrap .bx_btn.txt_right {text-align: right;}
.wrap .bx_btn.txt_right .btn { margin-left:5px;}

.wrap .btn.type1 {
	background: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
    padding: 0;
    height: 26px;
    line-height: 26px;
    border: 2px solid #fff;
    border-radius: 4px;
    }
.wrap .btn.type2 {
	margin-left:20px;
	background: #fac800;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
    padding: 0;
    height: 26px;
    line-height: 26px;
    border: 2px solid #fff;
    border-radius: 4px;
	}
.wrap .btn.type3 {
	padding:0;
	width:100%;
	height:50px;
	line-height:50px;
	background:#e60000;
	border-radius:4px;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	
	
}
.wrap .btn.type4 {
	padding:0;
	 width: 80px;
    padding: 0;
    height: 30px;
    line-height: 30px;
	background:#e60000;
	border-radius:4px;
	color:#fff;
	font-size:14px;
	font-weight:bold;}
.wrap .btn.type5 {
	padding:0;
	margin-left:5px;
	width: 80px;
   	padding: 0;
   	height: 30px;
   	line-height: 30px;
	background:#333;
	border-radius:4px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}

.wrap .btn.type6 {
	margin-top:10px;
	padding:0;
	width:100%;
	height:50px;
	line-height:50px;
	background:#e60000;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	
	
}


/*-------------------------------------    */
