@charset "EUC-KR";



body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button,table,th,td{margin:0;padding:0;}
body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,p,th,td,input,textarea,select,button{font-family:"Times New Roman", Times, serif; font-size:12px; color:#808080;}
textarea { width:100%;}
a, select,input,img, button {vertical-align:middle;}
ul, ol {list-style-type:none; }
.hide,legend,hr,caption span {position:absolute; left:-3000%;}
em, address { font-style:normal;}
table { border-collapse:collapse; border-spacing:0; width:100%;}
a { color:#666; text-decoration:none;}
a:focus,
a:hover { text-decoration:none;}
fieldset, img, button{border:0;}

textarea,
input[type="file"],
input[type="password"],
input[type="text"] { border:1px solid #ccc;}

select:focus, textarea:focus,
input[type="password"]:focus,
input[type="file"]:focus,
input[type="text"]:focus { border:1px solid #555;}

textarea[readonly="readonly"],
button[readonly="readonly"],
select[readonly="readonly"],
input[readonly="readonly"],

textarea[disabled="disabled"],
button[disabled="disabled"],
select[disabled="disabled"],
input[disabled="disabled"] { background:#f7f7f7;}

input[type="password"],
input[type="file"],
input[type="text"] { height:15px; line-height:15px;}
input[type="file"] { width:100%;}
input[type="radio"] { vertical-align:text-bottom;}

.block { display:block;}
.both:after { content:""; display:block; clear:both;}
.left { float:left;}
.right { float:right;}
.ab { position:absolute;}
.rel { position:relative;}
.btn { display:inline-block; text-align:center;}
.p10 { padding:10px;}
.m_t10 { margin-top:10px;}

/*-------------------------------------    */


.wrap {}
.wrap .header { position:relative; width:100%; height: 250px; background: url("../img/top_bg.jpg");}
.wrap .header > .bx_tp { background: #e60000; height:70px; line-height: 70px;}
.wrap .header > .bx_tp > .con { position:relative; margin:0 auto;  width: 1000px; }
.wrap .header > .bx_tp h1 { position: absolute; top:10px; left:20px; width:130px; height: 50px;}
.wrap .header > .bx_tp h1 a img {display: block; width:121px; }
.wrap .header > .bx_tp .bx_login { position: absolute; top:10px; right:20px; width: 500px; height: 60px; line-height: 50px;text-align: right;}
.wrap .header .gnb { position:absolute; bottom:0; left:0; width:100%; height:70px; background:#fff; box-shadow:0px 2px 5px #888888;  line-height: 70px; text-align: center;}
.wrap .header .gnb > ul { display: inline-block; width:1000px; height:70px; line-height: 70px;  text-align:center;}
.wrap .header .gnb > ul li { display: inline-block; width:9%; height:70px; line-height: 70px; }
.wrap .header .gnb > ul li a { display: block; width:100%; height: 70px; color:#333; font-size: 15px; font-weight: blod;}
.wrap .header .gnb > ul li a:hover { background: #333; color:#fff;}
.wrap .contents > .con, .footer > .con { margin:0 auto; width: 1000px;}


.wrap .btn.type1 {
	background: none;
    color: #fff;
    font-size: 18px;
    font-weight:bold;
    width: 100px;
    padding: 0;
    height: 30px;
    line-height: 30px;
    border: 2px solid #fff;
    border-radius: 4px;
    }
.wrap .btn.type2 {
	margin-left:20px;
	background: #fac800;
    color: #fff;
    font-size: 18px;
    font-weight:bold;
    width: 100px;
    padding: 0;
    height: 30px;
    line-height: 30px;
    border: 2px solid #fff;
    border-radius: 4px;
	}
/*-------------------------------------    */
