<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
<title>Insert title here</title>
<link href="../../../resources/js/layout.css" rel="stylesheet">

<script type="text/javascript" src="../../../resources/js/jquery.js"></script>
<script type="text/javascript" src="../../../resources/js/common.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="bx_tp"><h1><a href="#"><img src="../../../resources/img/logo.png" alt="여기여"></a></h1><a href="#a" class="btn type1">로그인</a><a href="#a" class="btn type2">회원가입</a></div>
			<div class="gnb">
				<ul>
					<li><a href="#">전체</a></li>
					<li><a href="#">치킨</a></li>
					<li><a href="#">피자</a></li>
					<li><a href="#">중국집</a></li>
					<li><a href="#">족발/보쌈</a></li>
					<li><a href="#">야식</a></li>
					<li><a href="#">돈까스&amp;회&amp;일식</a></li>
					<li><a href="#">한식</a></li>
					<li><a href="#">분식</a></li>
					<li><a href="#">패스트푸드</a></li>
				</ul>
			</div>
		</div>
		<div class="contents">
			<div class="con">
				<div class="test_slider">슬라이드 들어갈까</div>
				<div class="home">
					<ul>
						<li><a href="#">전체</a></li>
						<li><a href="#">치킨</a></li>
						<li><a href="#">피자</a></li>
						<li><a href="#">중국집</a></li>
						<li><a href="#">족발/보쌈</a></li>
						<li><a href="#">야식</a></li>
						<li><a href="#">돈까스&amp;회&amp;일식</a></li>
						<li><a href="#">한식</a></li>
						<li><a href="#">분식</a></li>
						<li><a href="#">패스트푸드</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="con">
				<a href="#">회사소개</a>
				<a href="#">고객센터</a>
			</div>
		</div>
	</div>
</body>
</html>